<div class="formDiv col-6">
  <p class="addTitle">Dodaj ispit</p>
  <form
    class="addExamRealization"
    (submit)="submit()"
    name="examRealizationForm"
    #f="ngForm"
  >
    <div class="form-inline">
      <div class="form-group">
        <label for="inputDate">Datum:</label>
        <input
          name="date"
          id="inputDate"
          class="form-control"
          type="date"
          [ngModel]="date | date: 'yyyy-MM-dd'"
          (ngModelChange)="date = $event"
        />
      </div>
      <div class="form-group">
        <label for="inputDate">Vreme:</label>
        <input
          name="time"
          id="inputDate"
          class="form-control"
          type="time"
          [(ngModel)]="time"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="inputClassroom">Ucionica:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="examRealization.classroom"
        name="classroom"
        id="inputClassroom"
        placeholder="Unesite ucionicu..."
        required
      />
    </div>
    <div class="form-group">
      <label for="selectCourse">Izaberite predmet:</label>
      <select
        class="form-control"
        id="selectCourse"
        [(ngModel)]="examRealization.courseDTO.id"
        name="courseID"
        required
      >
        <option *ngFor="let c of courses" [value]="c.id"
          >{{ c.code }} {{ c.name }}</option
        >
      </select>
    </div>
    <div class="form-group">
      <label for="selectTeacher">Izaberite profesora:</label>
      <select
        class="form-control"
        id="selectTeacher"
        [(ngModel)]="examRealization.teacherDTO.id"
        name="teacherID"
        required
      >
        <option *ngFor="let t of teachers" [value]="t.id"
          >{{ t.userDTO.firstName }} {{ t.userDTO.lastName }}</option
        >
      </select>
    </div>

    <div class="form-group">
      <label for="selectExamPeriod">Izaberite ispitni rok:</label>
      <select
        class="form-control"
        id="selectExamPeriod"
        [(ngModel)]="examRealization.examPeriodDTO.id"
        name="examPeriodID"
        required
      >
        <option *ngFor="let ep of examPeriods" [value]="ep.id">{{
          ep.name
        }}</option>
      </select>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="dateError">
      Datum mora biti izmedju {{ startDate }} i
      {{ endDate }}
    </div>
    <p id="porukaText" *ngIf="poruka == true">
      Pogresno uneti podaci! Ispravite greske!
    </p>
    <button type="submit" class="btn btn-success" [disabled]="!f.valid">
      Potvrdi
    </button>
    <button type="button" class="btn btn-secondary" (click)="closeAddForm()">
      Odustani
    </button>
  </form>
</div>
