<div class="formDiv col-5">
  <p class="addTitle">Dodeli predmet profesoru</p>
  <form class="addStudent" (submit)="submit()" name="studentForm" #f="ngForm">
    <div class="form-group">
      <label for="selectCourse">Izaberite predmet:</label>
      <select
        class="form-control"
        id="selectCourse"
        [(ngModel)]="teaching.courseDTO.id"
        name="courseID"
        required
      >
        <option *ngFor="let c of courses" [value]="c.id"
          >{{ c.code }} {{ c.name }}</option
        >
      </select>
    </div>

    <p id="porukaText" *ngIf="poruka == true">
      Pogresno uneti podaci! Ispravite greske!
    </p>
    <button type="submit" class="btn btn-success" [disabled]="!f.valid">
      Potvrdi
    </button>
    <button type="button" class="btn btn-secondary" (click)="closeAddForm()">
      Odustani
    </button>
  </form>
</div>
