<app-header></app-header>
<div class="container-fluid col-md-10">
  <div class="row col-12">
    <div class="col-10" id="mainn">
      <div class="container-fluid col-md-10 first-wrapper">
        <div style="text-align: center">
          <p class="titleTT">Ispiti</p>
          <div class="selectBoxes" style="text-align: center">
            <ng-select
              id="examPeriod"
              (change)="onChange($event)"
              [(ngModel)]="examPeriodID"
            >
              <ng-option
                id="options"
                *ngFor="let ep of examPeriods"
                [value]="ep.id"
                >{{ ep.name }}</ng-option
              >
            </ng-select>
          </div>
        </div>
      </div>
      <div class="tableMain">
        <table class="table sortable">
          <thead class="thead-dark" style="cursor: pointer;">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Oznaka</th>
              <th scope="col">Naziv predmeta</th>
              <th scope="col">Datum</th>
              <th scope="col">Vreme</th>
              <th scope="col">Ucionica</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let e of examRealizations; let i = index"
              app-table-row-teacher-exam-realizations
              [examRealization]="e"
              [i]="i"
              [param]="param"
            ></tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="navbarr col-2">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
