<div class="formDiv col-6">
  <p class="addTitle">Dodaj profesora</p>
  <form class="addTeacher" (submit)="submit()" name="teacherForm" #f="ngForm">
    <div class="form-group">
      <label for="inputTeacherCode">Sifra:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="teacher.teacherCode"
        name="teacherCode"
        id="inputTeacherCode"
        placeholder="Unesite sifru..."
        required
      />
    </div>
    <div class="form-group">
      <label for="inputFName">Ime:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="teacher.userDTO.firstName"
        name="fname"
        id="inputFName"
        placeholder="Unesite ime..."
        required
      />
    </div>
    <div class="form-group">
      <label for="inputLName">Prezime:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="teacher.userDTO.lastName"
        name="lname"
        id="inputLName"
        placeholder="Unesite prezime..."
        required
      />
    </div>
    <div class="form-group">
      <label for="inputEmail">Email:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="teacher.userDTO.email"
        name="email"
        id="inputEmail"
        placeholder="Unesite email..."
        required
      />
    </div>
    <div class="form-group street">
      <label for="inputStreet" id="lblStreet">Ulica:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="teacher.userDTO.addressDTO.streetName"
        name="streetName"
        id="inputStreet"
        placeholder="Unesite adresu..."
        required
      />
      <label for="inputStreetNumber" id="lblStreetNumber">Broj:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="teacher.userDTO.addressDTO.streetNumber"
        name="streetNumber"
        id="inputStreetNumber"
        placeholder="Broj..."
        required
      />
    </div>
    <div class="form-group">
      <label for="selectPlace">Izaberite mesto:</label>
      <select
        class="form-control"
        id="selectPlace"
        [(ngModel)]="teacher.userDTO.addressDTO.placeDTO.id"
        name="placeID"
        required
      >
        <option *ngFor="let p of places" [value]="p.id"
          >{{ p.zipCode }} {{ p.name }}</option
        >
      </select>
    </div>

    <p id="porukaText" *ngIf="poruka == true">
      Pogresno uneti podaci! Ispravite greske!
    </p>
    <button type="submit" class="btn btn-success" [disabled]="!f.valid">
      Potvrdi
    </button>
    <button type="button" class="btn btn-secondary" (click)="closeAddForm()">
      Odustani
    </button>
  </form>
</div>
