<app-header></app-header>
<div class="container-fluid col-md-10">
  <div class="row col-12">
    <div class="col-10" id="mainn">
      <div class="container-fluid col-md-10 first-wrapper">
        <div style="text-align: center">
          <p class="titleTT">Ispiti</p>
        </div>
        <div class="selectBoxes" style="text-align: center">
          <ng-select
            id="studyProgram"
            [(ngModel)]="studyProgramID"
            name="studyProgram"
            (change)="onChangeStudyProgram($event)"
          >
            <ng-option
              *ngFor="let sp of studyPrograms"
              [value]="sp.id"
              id="options"
              >{{ sp.name }}</ng-option
            >
          </ng-select>
          <ng-select
            id="examPeriod"
            [(ngModel)]="examPeriodID"
            name="examPeriod"
            (change)="onChangeExamPeriod($event)"
          >
            <ng-option
              *ngFor="let ep of examPeriods"
              [value]="ep.id"
              id="options"
              >{{ ep.name }}</ng-option
            >
          </ng-select>
        </div>
      </div>
      <table class="table sortable">
        <thead class="thead-dark" style="cursor: pointer;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Datum</th>
            <th scope="col">Vreme</th>
            <th scope="col">Ucionica</th>
            <th scope="col">Predmet</th>
            <th scope="col">Profesor</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let e of examRealizations; let i = index"
            app-table-row-exam-realizations
            [examRealization]="e"
            [i]="i"
            (deleteRow)="onDeleteRow($event)"
            (editRow)="openEdit($event)"
          ></tr>
        </tbody>
      </table>
      <div class="col-12 paginationDiv">
        <a
          class="buttonPage"
          id="{{ page }}"
          *ngFor="let page of totalPages"
          name="{{ page }}"
          (click)="nextPage($event)"
          >{{ page + 1 }}</a
        >
      </div>
      <button class="btn btn-primary" (click)="openAddForm()">
        Dodaj
      </button>
      <app-exam-realization-add-edit
        *ngIf="addForm == true"
        [examRealization]="examRealization"
        [addExamRealization]="addExamRealization"
        [studyProgramID]="studyProgramID"
        (close)="closeAddForm($event)"
        (newExamRealization)="addNewRow($event)"
        (editExamRealization)="onEditRow($event)"
      ></app-exam-realization-add-edit>
    </div>
    <div class="navbarr col-2">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
