.navbarr {
  background-color: #41f4a6;
  margin-bottom: 20px;
}

#mainn {
  background-color: #e8f5e9;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.titleTT {
  color: #333;
  font-size: 30px;
  padding-top: 15px;
  text-align: center;
  display: inline-flex;
}
.first-wrapper {
  background-color: #e8f5e9;
  justify-content: center;
}

th {
  text-align: center;
}

.btn {
  float: right;
  margin-right: 20px;
  width: 100px;
  background: #41f4a6;
  border: transparent;
}

.paginationDiv {
  text-align: center;
  padding-top: 10px;
}

.buttonPage {
  margin: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #333;
}

.active {
  background-color: #c5cae9;
  color: white;
}

.buttonPage:hover {
  border-color: blue;
  background-color: white;
}

#options {
  width: 260px;
  margin-bottom: 10px;
  padding: 3px;
}

#studyProgram,
#examPeriod {
  padding: 3px;
  margin: 3px;
}

.selectBoxes {
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 10px;
}
