<app-header></app-header>
<div class="container-fluid col-md-10">
  <div class="row col-12">
    <div class="col-10" id="mainn">
      <div class="container-fluid col-md-10 first-wrapper">
        <div style="text-align: center">
          <p class="titleTT">Polozeni predmeti</p>
        </div>
      </div>
      <table class="table sortable">
        <thead class="thead-dark" style="cursor: pointer;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Oznaka</th>
            <th scope="col">Predmet</th>
            <th scope="col">ESPB</th>
            <th scope="col">Datum ispita</th>
            <th scope="col">Profesor</th>
            <th scope="col">Ocena</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let e of exams; let i = index"
            app-table-row-student-passed-exams
            [exam]="e"
            [i]="i"
          ></tr>
        </tbody>
      </table>
      <div class="total">
        <p id="totalPoints">
          Ukupno ESPB bodova: <span id="totalSpan"> {{ totalPoints }}</span>
        </p>
        <p id="avgGrade">
          Prosecna ocena: <span id="totalSpan"> {{ averageGrade }}</span>
        </p>
      </div>
    </div>
    <div class="navbarr col-2">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
