.navbarr {
  background-color: #41f4a6;
  margin-bottom: 20px;
}

#mainn {
  background-color: #e8f5e9;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.titleTT {
  color: #333;
  font-size: 30px;
  padding-top: 15px;
  text-align: center;
  display: inline-flex;
}
.first-wrapper {
  background-color: #e8f5e9;
  justify-content: center;
}

th {
  text-align: center;
}

.btn {
  float: right;
  margin-right: 150px;
  width: 100px;
  background: #41f4a6;
  border: transparent;
}

.total {
  text-align: right;
}

.total p {
  display: inline;
}

#totalPoints {
  margin-right: 31%;
}

#avgGrade {
  margin-right: 5%;
}

#totalSpan {
  margin-left: 5%;
}
