<app-header></app-header>
<div class="container-fluid col-md-10">
  <div class="row col-12">
    <div class="col-10" id="mainn">
      <div class="container-fluid col-md-10 first-wrapper">
        <div style="text-align: center">
          <p class="titleTT">Studenti</p>
        </div>
      </div>
      <table class="table sortable">
        <thead class="thead-dark" style="cursor: pointer;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Broj indeksa</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th></th>
            <th *ngIf="!isAdded"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let s of students; let i = index"
            app-table-row-students
            [student]="s"
            [i]="i"
            [param]="param"
            (isAddedEmit)="check($event)"
          ></tr>
        </tbody>
      </table>
      <div class="col-12 paginationDiv">
        <a
          class="buttonPage"
          id="{{ page }}"
          *ngFor="let page of totalPages"
          name="{{ page }}"
          (click)="nextPage($event)"
          >{{ page + 1 }}</a
        >
      </div>
      <button
        class="btn btn-primary"
        (click)="openAddForm()"
      >
        Dodaj
      </button>
      <app-students-add-edit
        *ngIf="addForm == true"
        [student]="student"
        [addStudent]="addStudent"
        (close)="closeAddForm($event)"
        (newStudent)="addNewRow($event)"
      ></app-students-add-edit>
    </div>
    <div class="navbarr col-2">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
