<div class="formDiv col-5">
  <p class="addTitle">Dodaj studenta</p>
  <form class="addStudent" (submit)="submit()" name="studentForm" #f="ngForm">
    <div class="form-group">
      <label for="inputTeacherCode">Predmeti:</label>
      <ng-select [multiple]="true" [(ngModel)]="selectedItems" name="course">
        <ng-option *ngFor="let c of courses" [value]="c">{{
          c.name
        }}</ng-option>
      </ng-select>
    </div>
    <div class="form-group">
      <label for="inputStartDate">Datum pocetka:</label>
      <input
        name="startDate"
        id="inputStartDate"
        class="form-control"
        type="date"
        [(ngModel)]="enrollment.startDate"
      />
    </div>
    <div class="form-group">
      <label for="inputEndDate">Datum zavrsetka:</label>
      <input
        name="endDate"
        id="inputEndDate"
        class="form-control"
        type="date"
        [(ngModel)]="enrollment.endDate"
      />
    </div>
    <p id="porukaText" *ngIf="poruka == true">
      Pogresno uneti podaci! Ispravite greske!
    </p>
    <button type="submit" class="btn btn-success" [disabled]="!f.valid">
      Potvrdi
    </button>
    <button type="button" class="btn btn-secondary" (click)="closeAddForm()">
      Odustani
    </button>
  </form>
</div>
