<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ semester.semesterType }}</td>
<td class="table-light">
  {{ semester.startDate | date: "dd.MM.yyyy" }}
</td>
<td class="table-light">
  {{ semester.endDate | date: "dd.MM.yyyy" }}
</td>
<td class="table-light">
  <button
    class="btn btn-primary"
    value="{{ semester.id }}"
    (click)="edit($event)"
  >
    Izmeni
  </button>
</td>
<td class="table-light">
  <button
    class="btn btn-danger"
    value="{{ semester.id }}"
    (click)="delete($event)"
  >
    Obrisi
  </button>
</td>
