<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ enrollment.courseDTO.code }}</td>
<td class="table-light">{{ enrollment.courseDTO.name }}</td>
<td class="table-light">{{ enrollment.courseDTO.ectspoints }}</td>
<td class="table-light">{{ enrollment.courseDTO.numberOfClass }}</td>
<td class="table-light">{{ enrollment.startDate | date: "dd.MM.yyyy" }}</td>
<td class="table-light">{{ enrollment.endDate | date: "dd.MM.yyyy" }}</td>
<td class="table-light">
  <button
    class="btn btn-danger"
    value="{{ enrollment.id }}"
    (click)="delete($event)"
  >
    Obrisi
  </button>
</td>
