<app-header></app-header>
<div class="container-fluid col-md-10">
  <div class="row col-12">
    <div class="col-10 userData">
      <h3>Podaci o korisniku</h3>
      <p>
        Ime: <span class="result">{{ user.firstName }}</span>
      </p>
      <p>
        Prezime: <span class="result">{{ user.lastName }}</span>
      </p>
      <p *ngIf="isStudent == true">
        Datum rodjenja:
        <span class="result">{{ student.birthDate | date: "dd.MM.yyyy" }}</span>
      </p>
      <p>
        Adresa stanovanja:
        <span class="result"
          >{{ user.addressDTO.streetName }}
          {{ user.addressDTO.streetNumber }}</span
        >
      </p>
      <p>
        Mesto stanovanja:
        <span class="result">{{ user.addressDTO.placeDTO.name }}</span>
      </p>
      <p>
        E-mail adresa: <span class="result">{{ user.email }}</span>
      </p>
      <p *ngIf="isStudent == true">
        Broj telefona:
        <span class="result">{{ student.phoneNumber }}</span>
      </p>
      <p *ngIf="isStudent == true">
        Studijski program:
        <span class="result">{{ student.studyProgramDTO.name }}</span>
      </p>
    </div>
    <div class="navbarr col-2">
      <app-navbar></app-navbar>
    </div>
    <div class="popup" *ngIf="isMessage">
      <div class="notification">
        <span class="close" title="Close Modal">&times;</span>
        {{ message }}
        <a href="#" [routerLink]="['/payments', student.id]">Overa semestra</a>
      </div>
    </div>
  </div>
</div>
