.nameUser {
  font-size: 25px;
  color: white;
  font-style: italic;
}

.userData {
  background-color: #e8f5e9;
  margin-bottom: 20px;
}

.navbarr {
  background-color: #41f4a6;
  margin-bottom: 20px;
}

h3 {
  border-bottom: 1px solid #333;
  padding-top: 12px;
  color: #333;
}

.userData > p {
  font-size: 18px;
  padding-top: 8px;
  color: #333;
}

.result {
  color: #03720c;
  font-size: 22px;
  border-bottom: 1px solid #03720c;
}

.main-wrapper {
  height: 100vmin;
}

.notification {
  position: absolute;
  top: 20px;
  left: 65%;
  background: white;
  padding: 15px;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 320px;
  /*height: 60px;*/
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  /*width: 100%;
  height: 100%;*/
  overflow: auto;
  /*background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.close {
  position: absolute;
  right: 10px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}
