<div class="formDiv col-6">
  <p class="addTitle">Dodaj racun</p>
  <form class="addStudent" (submit)="submit()" name="studentForm" #f="ngForm">
    <div class="form-group">
      <label for="inputGiroAccountNumber">Ziro racun:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="account.giroAccountNumber"
        name="giroAccountNumber"
        id="inputGiroAccountNumber"
        placeholder="Unesite ziro racun..."
        required
      />
    </div>
    <div class="form-group">
      <label for="inputModelNumber">Broj modela:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="account.modelNumber"
        name="modelNumber"
        id="inputModelNumber"
        placeholder="Unesite broj modela..."
        required
      />
    </div>
    <div class="form-group">
      <label for="inputPersonalReferenceNumber"
        >Personalni poziv na broj:</label
      >
      <input
        type="text"
        class="form-control"
        [(ngModel)]="account.personalReferenceNumber"
        name="personalReferenceNumber"
        id="inputPersonalReferenceNumber"
        placeholder="Unesite personalni poziv na broj..."
        required
      />
    </div>
    <p id="porukaText" *ngIf="poruka == true">
      Pogresno uneti podaci! Ispravite greske!
    </p>
    <button type="submit" class="btn btn-success" [disabled]="!f.valid">
      Potvrdi
    </button>
    <button type="button" class="btn btn-secondary" (click)="closeAddForm()">
      Odustani
    </button>
  </form>
</div>
