<app-header></app-header>
<div class="container-fluid col-md-10">
  <div class="row col-12">
    <div class="col-10" id="mainn">
      <div class="container-fluid col-md-10 first-wrapper">
        <div style="text-align: center">
          <p class="titleTT">Semestri</p>
        </div>
      </div>
      <table class="table sortable">
        <thead class="thead-dark" style="cursor: pointer;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tip</th>
            <th scope="col">Datum pocetka</th>
            <th scope="col">Datum zavrsetka</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let s of semesters; let i = index"
            app-table-row-semesters
            [semester]="s"
            [i]="i"
            (deleteRow)="onDeleteRow($event)"
            (editRow)="openEdit($event)"
          ></tr>
        </tbody>
      </table>
      <button class="btn btn-primary" (click)="openAddForm()">
        Dodaj
      </button>
      <app-add-semester
        *ngIf="addForm == true"
        [semester]="semester"
        [addSemester]="addSemester"
        (close)="closeAddForm($event)"
        (newSemester)="addNewRow($event)"
        (editSemester)="onEditRow($event)"
      ></app-add-semester>
    </div>
    <div class="navbarr col-2">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
