<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ course.code }}</td>
<td class="table-light">{{ course.name }}</td>
<td class="table-light">{{ course.ectspoints }}</td>
<td class="table-light">{{ course.numberOfClass }}</td>
<td class="table-light">
  <button
    class="btn btn-primary"
    value="{{ course.id }}"
    (click)="edit($event)"
  >
    Izmeni
  </button>
</td>
<td class="table-light">
  <button
    class="btn btn-danger"
    value="{{ course.id }}"
    (click)="delete($event)"
  >
    Obrisi
  </button>
</td>
