<div class="formDiv col-5">
  <p class="addTitle">Dodaj zvanje</p>
  <form
    class="addExamPeriod"
    (submit)="submit()"
    name="examPeriodForm"
    #f="ngForm"
  >
    <div class="form-group">
      <label for="inputName">Naziv:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="examPeriod.name"
        name="name"
        id="inputName"
        placeholder="Unesite naziv..."
        required
      />
    </div>
    <div class="form-group">
      <label for="inputStartDate">Datum pocetka:</label>
      <input
        name="startDate"
        id="inputStartDate"
        class="form-control"
        type="date"
        [ngModel]="examPeriod.startDate | date: 'yyyy-MM-dd'"
        (ngModelChange)="examPeriod.startDate = $event"
      />
    </div>
    <div class="form-group">
      <label for="inputEndDate">Datum zavrsetka:</label>
      <input
        name="endDate"
        id="inputEndDate"
        class="form-control"
        type="date"
        [ngModel]="examPeriod.endDate | date: 'yyyy-MM-dd'"
        (ngModelChange)="examPeriod.endDate = $event"
      />
    </div>
    <p id="porukaText" *ngIf="poruka == true">
      Pogresno uneti podaci! Ispravite greske!
    </p>
    <button type="submit" class="btn btn-success" [disabled]="!f.valid">
      Potvrdi
    </button>
    <button type="button" class="btn btn-secondary" (click)="closeAddForm()">
      Odustani
    </button>
  </form>
</div>
