<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">
  {{ examRealization.date | date: "dd.MM.yyyy" }}
</td>
<td class="table-light">
  {{ examRealization.date | date: "HH:mm" }}
</td>
<td class="table-light">{{ examRealization.classroom }}</td>
<td class="table-light">{{ examRealization.courseDTO.name }}</td>
<td class="table-light">
  {{ examRealization.teacherDTO.userDTO.firstName }}
  {{ examRealization.teacherDTO.userDTO.lastName }}
</td>
<td class="table-light">
  <button
    class="btn btn-primary"
    value="{{ examRealization.id }}"
    (click)="edit($event)"
  >
    Izmeni
  </button>
</td>
<td class="table-light">
  <button
    class="btn btn-danger"
    value="{{ examRealization.id }}"
    (click)="delete($event)"
  >
    Obrisi
  </button>
</td>
