<app-header></app-header>
<div class="container-fluid col-md-10">
  <div class="row col-12">
    <div class="col-10" id="mainn">
      <div class="container-fluid col-md-10 first-wrapper">
        <div style="text-align: center">
          <p class="titleTT">Dokumenta</p>
        </div>
      </div>
      <table class="table sortable">
        <thead class="thead-dark" style="cursor: pointer;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tip dokumenta</th>
            <th scope="col">Datum</th>
            <th></th>
            <th *ngIf="isAdmin == true"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let d of documents; let i = index"
            app-table-row-document
            [document]="d"
            [i]="i"
            [isAdmin]="isAdmin"
            (deleteRow)="onDeleteRow($event)"
            (editRow)="openEdit($event)"
          ></tr>
        </tbody>
      </table>
      <div class="col-12 paginationDiv">
        <a
          class="buttonPage"
          id="{{ page }}"
          *ngFor="let page of totalPages"
          name="{{ page }}"
          (click)="nextPage($event)"
          >{{ page + 1 }}</a
        >
      </div>
      <button
        class="btn btn-primary"
        (click)="openAddForm()"
        *ngIf="isAdmin == true"
      >
        Dodaj
      </button>
      <app-document-add-edit
        *ngIf="addForm == true"
        [document]="document"
        [student]="student"
        (close)="closeAddForm($event)"
        (newDocument)="addNewRow($event)"
      ></app-document-add-edit>
    </div>
    <div class="navbarr col-2">
      <app-navbar (emitIsAdmin)="check($event)"></app-navbar>
    </div>
  </div>
</div>
