<app-header></app-header>
<div class="container-fluid col-md-10">
  <div class="row col-12">
    <div class="col-10" id="mainn">
      <div class="container-fluid col-md-10 first-wrapper">
        <div style="text-align: center">
          <p class="titleTT">Studijski programi</p>
          <select
            id="studyType"
            (change)="onChange($event.target.value)"
            [(ngModel)]="studyTypeID"
          >
            <option
              id="options"
              *ngFor="let type of studyTypes"
              value="{{ type.id }}"
              >{{ type.name }}</option
            >
          </select>
        </div>
      </div>
      <table class="table sortable">
        <thead class="thead-dark" style="cursor: pointer;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Naziv</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let sp of studyPrograms; let i = index"
            app-table-row-study-programs
            [studyProgram]="sp"
            [param]="param"
            [i]="i"
            (deleteRow)="onDeleteRow($event)"
            (editRow)="openEdit($event)"
          ></tr>
        </tbody>
      </table>
      <div class="col-12 paginationDiv">
        <a
          class="buttonPage"
          id="{{ page }}"
          *ngFor="let page of totalPages"
          name="{{ page }}"
          (click)="nextPage($event)"
          >{{ page + 1 }}</a
        >
      </div>
      <button
        class="btn btn-primary"
        (click)="openAddForm()"
      >
        Dodaj
      </button>
      <app-study-program-add-edit
        *ngIf="addForm == true"
        [studyProgram]="studyProgram"
        [addStudyProgram]="addStudyProgram"
        [studyType]="studyType"
        (close)="closeAddForm($event)"
        (newStudyProgram)="addNewRow($event)"
        (editStudyProgram)="onEditRow($event)"
      ></app-study-program-add-edit>
    </div>
    <div class="navbarr col-2">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
