<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ studyProgram.name }}</td>
<td class="table-light">
  <button
    class="btn btn-secondary"
    value="{{ studyProgram.id }}"
    (click)="getStudents($event)"
  >
    Studenti
  </button>
</td>
<td class="table-light">
  <button
    class="btn btn-secondary"
    value="{{ studyProgram.id }}"
    (click)="getCourses($event)"
  >
    Predmeti
  </button>
</td>
<td class="table-light">
    <button
      class="btn btn-secondary"
      value="{{ studyProgram.id }}"
      (click)="edit($event)"
    >
      Izmeni
    </button>
  </td>
  <td class="table-light">
    <button
      class="btn btn-danger"
      value="{{ studyProgram.id }}"
      (click)="delete($event)"
    >
      Obrisi
    </button>
  </td>
