<div class="formDiv col-5">
  <p class="addTitle">Dodaj studjski program</p>
  <form class="addCourse" (submit)="submit()" name="courseForm" #f="ngForm">
    <div class="form-group">
      <label for="inputCode">Sifra:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="course.code"
        name="code"
        id="inputCode"
        placeholder="Unesite sifru..."
        required
      />
    </div>
    <div class="form-group">
      <label for="inputName">Naziv:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="course.name"
        name="name"
        id="inputName"
        placeholder="Unesite naziv..."
        required
      />
    </div>
    <div class="form-group">
      <label for="inputECTSPoints">ESPB bodovi:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="course.ectspoints"
        name="ECTSPoints"
        id="inputECTSPoints"
        placeholder="Unesite ESPB bodove..."
        required
      />
    </div>
    <div class="form-group">
      <label for="inputNumberOfClass">Broj casova:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="course.numberOfClass"
        name="numberOfClass"
        id="inputNumberOfClass"
        placeholder="Unesite broj casova..."
        required
      />
    </div>
    <p id="porukaText" *ngIf="poruka == true">
      Pogresno uneti podaci! Ispravite greske!
    </p>
    <button type="submit" class="btn btn-success" [disabled]="!f.valid">
      Potvrdi
    </button>
    <button type="button" class="btn btn-secondary" (click)="closeAddForm()">
      Odustani
    </button>
  </form>
</div>
