<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ exam.examRealizationDTO.courseDTO.code }}</td>
<td class="table-light">{{ exam.examRealizationDTO.courseDTO.name }}</td>
<td class="table-light">
  {{ exam.examRealizationDTO.date | date: "dd.MM.yyyy" }}
</td>
<td class="table-light">{{ exam.examRealizationDTO.date | date: "HH:mm" }}</td>
<td class="table-light">{{ exam.examRealizationDTO.classroom }}</td>
<td class="table-light">
  {{ exam.examRealizationDTO.examPrice | number: ".2-2" }}
</td>
<td class="table-light">
  {{ exam.examRealizationDTO.teacherDTO.userDTO.firstName }}
  {{ exam.examRealizationDTO.teacherDTO.userDTO.lastName }}
</td>
<td class="table-light">
  <input
    type="checkbox"
    value="{{ exam.id }}"
    (change)="checkedOnChange($event)"
    [disabled]="checkDate(exam.examRealizationDTO.date)"
  />
</td>
