<app-header></app-header>
<div class="container-fluid col-md-10">
  <div class="row col-12">
    <div class="col-10" id="mainn">
      <div class="container-fluid col-md-10 first-wrapper">
        <div style="text-align: center">
          <p class="titleTT">Rezultati ispita</p>
        </div>
      </div>
      <table class="table sortable">
        <thead class="thead-dark" style="cursor: pointer;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Broj indeksa</th>
            <th scope="col">Prezime</th>
            <th scope="col">Ime</th>
            <th scope="col">Predispitne</th>
            <th scope="col">Zavrsni</th>
            <th scope="col">Ukupno</th>
            <th scope="col">Ocena</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let e of exams; let i = index"
            app-table-row-teacher-exam-results
            [exam]="e"
            [i]="i"
          ></tr>
        </tbody>
      </table>
    </div>
    <div class="navbarr col-2">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
