<div class="container col-12 header">
  <div class="row">
    <div class="container-fluid col-md-10">
      <img height="100px" [src]="imgPath" alt="" />
      <p class="nameUniversity">Fakultet tehničkih nauka</p>
      <p class="nameUser" *ngIf="isAdmin == true">
        {{ user.firstName }} {{ user.lastName }}
      </p>
      <p class="nameUser" *ngIf="isStudent == true">
        {{ student.cardNumber }} - {{ student.userDTO.firstName }}
        {{ student.userDTO.lastName }}
      </p>
      <p class="nameUser" *ngIf="isTeacher == true">
        {{ teacher.teacherCode }} - {{ teacher.userDTO.firstName }}
        {{ teacher.userDTO.lastName }}
      </p>
    </div>
  </div>
  <div class="popup" *ngIf="isMessage">
    <div class="notification">
      <span class="close" title="Close Modal">&times;</span>
      {{ message }}
      <a *ngIf="isCertification" href="#" [routerLink]="['/payments', student.id]">Overa semestra</a>
      <a *ngIf="isResults" href="#" [routerLink]="['/exam-results', student.id]">Rezultati ispita</a>
    </div>
  </div>
</div>
