.header {
  /*background-color: #a5d6a7;*/
  background-color: #41f4a6;
}

.nameUniversity {
  font-size: 35px;
  color: #333;
  margin: 20px 0 0 120px;
}

.nameUser {
  font-size: 25px;
  color: white;
  font-style: italic;
  margin-left: 120px;
}

img {
  margin: 20px 0 20px;

  float: left;
}

.notification {
  position: absolute;
  top: 20px;
  left: 65%;
  background: white;
  padding: 15px;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 320px;
  /*height: 60px;*/
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  /*width: 100%;
  height: 100%;*/
  overflow: auto;
  /*background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.close {
  position: absolute;
  right: 10px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}
