<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ teacher.teacherCode }}</td>
<td class="table-light">{{ teacher.userDTO.firstName }}</td>
<td class="table-light">{{ teacher.userDTO.lastName }}</td>
<td class="table-light">
  <button
    class="btn btn-primary"
    value="{{ teacher.id }}"
    (click)="details($event)"
  >
    Detaljnije
  </button>
</td>
<td class="table-light">
  <button
    class="btn btn-primary"
    value="{{ teacher.id }}"
    (click)="getTitles($event)"
  >
    Zvanje
  </button>
</td>
<td class="table-light">
  <button
    class="btn btn-primary"
    value="{{ teacher.id }}"
    (click)="getCourses($event)"
  >
    Predmeti
  </button>
</td>
