<div class="formDiv col-4">
  <p class="addTitle">Dodavanje dokument</p>
  <form class="addDocument" (submit)="submit()" name="documentForm" #f="ngForm">
    <div class="form-group">
      <label for="inputFile">Fajl:</label>
      <input
        type="file"
        class="form-control"
        (change)="selectFile($event)"
        name="file"
        id="inputFile"
        required
      />
    </div>
    <div *ngIf="isFileEmpty">
      <span class="help-block error" [hidden]="isFileEmpty">
        File is Empty!
      </span>
    </div>
    <p id="porukaText" *ngIf="poruka == true">
      Pogresno uneti podaci! Ispravite greske!
    </p>
    <button type="submit" class="btn btn-success" [disabled]="!isFileSelected">
      Potvrdi
    </button>
    <button type="button" class="btn btn-secondary" (click)="closeAddForm()">
      Odustani
    </button>
  </form>
</div>
