<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ exam.studentDTO.cardNumber }}</td>
<td class="table-light">{{ exam.studentDTO.userDTO.lastName }}</td>
<td class="table-light">
  {{ exam.studentDTO.userDTO.firstName }}
</td>
<td class="table-light">
  <input
    type="number"
    [(ngModel)]="exam.labPoints"
    (keyup)="changeValue(i, 'labPoints', $event)"
    min="0"
    max="50"
    [disabled]="checkDate(exam.examRealizationDTO.date)"
    (keyup)="onKeyUp($event)"
  />
</td>
<td class="table-light">
  <input
    type="number"
    [(ngModel)]="exam.examPoints"
    (keyup)="changeValue(i, 'examPoints', $event)"
    min="0"
    max="50"
    [disabled]="checkDate(exam.examRealizationDTO.date)"
    (keyup)="onKeyUp($event)"
  />
</td>
<td class="table-light">
  {{ totalPoints }}
</td>
<td class="table-light">
  {{ grade }}
</td>

<div class="popup" *ngIf="morePoints">
  <div class="alert alert-danger" role="alert">
    <span class="close" title="Close Modal" (click)="closeAlert()"
      >&times;</span
    >
    Bodovi ne mogu biti veci od 50
  </div>
</div>
<div class="popup" *ngIf="lessPoints">
  <div class="alert alert-danger" role="alert">
    <span class="close" title="Close Modal" (click)="closeAlert()"
      >&times;</span
    >
    Bodovi ne mogu biti manji od 50
  </div>
</div>
