.main {
  background-color: #41f4a6;
  margin-top: 80px;
  border-radius: 70px;
  padding: 100px;
}

form {
  padding-top: 40px;
  padding-bottom: 70px;
}

.form-group > label {
  color: #333;
}

.form-group > input {
  background-color: #fcfdfc;
  color: #333;
  box-shadow: none;
}

.form-group > input:hover {
  border-bottom: 2px solid #0d47a1;
  padding: 5px;
  background-color: white;
  color: #0d47a1;
}

.title {
  text-align: center;
  color: white;
  font-size: 40px;
  margin: 0;
  border-bottom: 3px solid white;
}

.btn {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}

.formDiv{
  margin-top: 40px;
}

.logo{
  margin-top: 30px;
  margin-bottom: 30px;
}
