<div class="container-fluid col-md-8 main">
  <div class="row col-md-12">
    <p class="col-12 title">Studentski Web Servis</p>
    <div class="col-md-5 logo">
      <img [src]="imgPath" alt="" />
    </div>
  <div class="col-md-7 formDiv">
    <form (submit)="submit()">
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          [(ngModel)]="loginModel.username"
          name="username"
          id="inputUsername"
          placeholder="Korisnicko ime..."
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          [(ngModel)]="loginModel.password"
          name="password"
          id="inputPassword"
          placeholder="Lozinka..."
        />
      </div>
      <button type="submit" class="btn btn-light">Prijava</button>
    </form>
  </div>
</div>
</div>
