<div class="col-10 acc" *ngIf="isAccFound == true">
  <h4>Podaci o racunu</h4>
  <p>
    Ziro racun:
    <span class="result">{{ account.giroAccountNumber }}</span>
  </p>
  <p>
    Broj modela:
    <span class="result">{{ account.modelNumber }}</span>
  </p>
  <p>
    Personalni poziv na broj:
    <span class="result">{{ account.personalReferenceNumber }}</span>
  </p>
  <p>
    Trenutno stanje racuna:
    <span class="result">{{ account.currentAccountBalance | number: ".2-2"}} RSD</span>
  </p>
  <div class=" editBtnAcc">
    <button class="btn btn-primary" (click)="openEditForm()">
      Izmeni
    </button>
  </div>
</div>
<div class="col-10 accBtnDiv" *ngIf="isAccFound == false">
  <button class="btn btn-primary accBtn" (click)="openAddForm()">
    Dodaj racun
  </button>
</div>
<app-accounts-add-edit
  *ngIf="addForm == true"
  [account]="account"
  [addAccount]="addAccount"
  [student]="student"
  (close)="closeAddForm($event)"
  (added)="onAdd($event)"
></app-accounts-add-edit>
