.accBtnDiv {
  width: 70%;
  margin-left: 15%;
  margin-right: 15px;
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}

.accBtn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.acc {
  width: 70%;
  margin-left: 15%;
  margin-right: 15px;
  background: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.editBtnAcc {
  text-align: right;
}
