<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ teaching.courseDTO.code }}</td>
<td class="table-light">{{ teaching.courseDTO.name }}</td>
<td class="table-light">{{ teaching.courseDTO.ectspoints }}</td>
<td class="table-light">{{ teaching.courseDTO.numberOfClass }}</td>
<td class="table-light" *ngIf="param === 'edit'">
  <button
    class="btn btn-danger"
    value="{{ teaching.id }}"
    (click)="delete($event)"
  >
    Obrisi
  </button>
</td>
