<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ teacherTitle.titleDTO.name }}</td>
<td class="table-light">{{ teacherTitle.startDate | date: "dd.MM.yyyy" }}</td>
<td class="table-light" *ngIf="teacherTitle.endDate != null">
  {{ teacherTitle.endDate | date: "dd.MM.yyyy" }}
</td>
<td class="table-light" *ngIf="teacherTitle.endDate == null">-U toku-</td>
<td class="table-light" *ngIf="param === 'edit'">
  <button
    class="btn btn-primary"
    value="{{ teacherTitle.id }}"
    (click)="edit($event)"
  >
    Izmeni
  </button>
</td>
