<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ studyType.name }}</td>

<td class="table-light">
  <button
    class="btn btn-primary"
    value="{{ studyType.id }}"
    (click)="edit($event)"
  >
    Izmeni
  </button>
</td>
<td class="table-light">
  <button
    class="btn btn-danger"
    value="{{ studyType.id }}"
    (click)="delete($event)"
  >
    Obrisi
  </button>
</td>
