<div class="formDiv col-6">
  <p class="addTitle">Dodaj student</p>
  <form class="addStudent" (submit)="submit()" name="studentForm" #f="ngForm">
    <div class="form-group">
      <label for="selectSProgram">Izaberite studijski program:</label>
      <select
        class="form-control"
        id="selectSProgram"
        [(ngModel)]="student.studyProgramDTO.id"
        name="studyProgramID"
        required
      >
        <option *ngFor="let sp of studyPrograms" [value]="sp.id">{{
          sp.name
        }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputYearOfStudy">Godina studija:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="student.yearOfStudy"
        name="yearOfStudy"
        id="inputYearOfStudy"
        placeholder="Unesite godinu studija..."
        required
      />
    </div>
    <div class="form-group">
      <label for="inputCardNumber">Broj indeksa:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="student.cardNumber"
        name="cardNumber"
        id="inputCardNumber"
        placeholder="Unesite broj indeksa..."
        required
      />
    </div>
    <div class="form-group">
      <label for="inputFName">Ime:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="student.userDTO.firstName"
        name="fname"
        id="inputFName"
        placeholder="Unesite ime..."
        required
      />
    </div>
    <div class="form-group">
      <label for="inputLName">Prezime:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="student.userDTO.lastName"
        name="lname"
        id="inputLName"
        placeholder="Unesite prezime..."
        required
      />
    </div>
    <div class="form-group">
      <label for="inputBirthDate">Datum rodjenja:</label>
      <input
        name="birthDate"
        id="inputBirthDate"
        class="form-control"
        type="date"
        [ngModel]="student.birthDate | date: 'yyyy-MM-dd'"
        (ngModelChange)="student.birthDate = $event"
      />
    </div>
    <div class="form-group">
      <label for="inputEmail">Email:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="student.userDTO.email"
        name="email"
        id="inputEmail"
        placeholder="Unesite email..."
        required
      />
    </div>
    <div class="form-group">
      <label for="inputPhoneNumber">Broj telefona:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="student.phoneNumber"
        name="phoneNumber"
        id="inputPhoneNumber"
        placeholder="Unesite broj telefona..."
        required
      />
    </div>
    <div class="form-group street">
      <label for="inputStreet" id="lblStreet">Ulica:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="student.userDTO.addressDTO.streetName"
        name="streetName"
        id="inputStreet"
        placeholder="Unesite adresu..."
        required
      />
      <label for="inputStreetNumber" id="lblStreetNumber">Broj:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="student.userDTO.addressDTO.streetNumber"
        name="streetNumber"
        id="inputStreetNumber"
        placeholder="Broj..."
        required
      />
    </div>
    <div class="form-group">
      <label for="selectPlace">Izaberite mesto:</label>
      <select
        class="form-control"
        id="selectPlace"
        [(ngModel)]="student.userDTO.addressDTO.placeDTO.id"
        name="placeID"
        required
      >
        <option *ngFor="let p of places" [value]="p.id"
          >{{ p.zipCode }} {{ p.name }}</option
        >
      </select>
    </div>

    <p id="porukaText" *ngIf="poruka == true">
      Pogresno uneti podaci! Ispravite greske!
    </p>
    <button type="submit" class="btn btn-success" [disabled]="!f.valid">
      Potvrdi
    </button>
    <button type="button" class="btn btn-secondary" (click)="closeAddForm()">
      Odustani
    </button>
  </form>
</div>
