.formDiv {
  position: absolute;
  top: 20px;
  left: 320px;
  background: white;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-bottom: 20px;
}

.addTitle {
  text-align: center;
  color: #333;
  font-size: 25px;
  border-bottom: 3px solid #333;
}

.formDiv > form > button {
  margin-right: 5px;
}
