<div class="formDiv col-5">
  <p class="addTitle">Dodaj uplatu</p>
  <form class="addPayment" (submit)="submit()" name="paymentForm" #f="ngForm">
    <div class="form-group">
      <label for="selectPaymentPurpose">Svrha uplate:</label>
      <select
        class="form-control"
        id="selectPaymentPurpose"
        [(ngModel)]="payment.paymentPurposeDTO.id"
        name="paymentPurpose"
        required
      >
        <option *ngFor="let pp of paymentPurposes" [value]="pp.id">{{
          pp.name | replaceString
        }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputAmount">Iznos:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="payment.amount"
        name="amount"
        id="inputAmount"
        placeholder="Unesite iznos..."
        required
      />
    </div>
    <p id="porukaText" *ngIf="poruka == true">
      Pogresno uneti podaci! Ispravite greske!
    </p>
    <button type="submit" class="btn btn-success" [disabled]="!f.valid">
      Potvrdi
    </button>
    <button type="button" class="btn btn-secondary" (click)="closeAddForm()">
      Odustani
    </button>
  </form>
</div>
