<div class="formDiv col-5">
  <p class="addTitle">Dodaj zvanje</p>
  <form class="addStudent" (submit)="submit()" name="studentForm" #f="ngForm">
    <div class="form-group">
      <label for="selectTitle">Izaberite zvanje:</label>
      <select
        class="form-control"
        id="selectTitle"
        [(ngModel)]="teacherTitle.titleDTO.id"
        name="titleID"
        required
      >
        <option *ngFor="let t of titles" [value]="t.id">{{ t.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputStartDate">Datum pocetka:</label>
      <input
        name="startDate"
        id="inputStartDate"
        class="form-control"
        type="date"
        [ngModel]="teacherTitle.startDate | date: 'yyyy-MM-dd'"
        (ngModelChange)="teacherTitle.startDate = $event"
      />
    </div>
    <div class="form-group">
      <label for="inputEndDate">Datum zavrsetka:</label>
      <input
        name="endDate"
        id="inputEndDate"
        class="form-control"
        type="date"
        [ngModel]="teacherTitle.endDate | date: 'yyyy-MM-dd'"
        (ngModelChange)="teacherTitle.endDate = $event"
      />
    </div>
    <p id="porukaText" *ngIf="poruka == true">
      Pogresno uneti podaci! Ispravite greske!
    </p>
    <button type="submit" class="btn btn-success" [disabled]="!f.valid">
      Potvrdi
    </button>
    <button type="button" class="btn btn-secondary" (click)="closeAddForm()">
      Odustani
    </button>
  </form>
</div>
