.navbarr {
    background-color: #41f4a6;
    margin-bottom: 20px;
  }
  
  #mainn {
    background-color: #e8f5e9;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .titleTT {
    color: #333;
    font-size: 30px;
    padding-top: 15px;
    text-align: center;
    display: inline-flex;
  }
  .first-wrapper {
    background-color: #e8f5e9;
    justify-content: center;
  }
  
  .info {
    width: 70%;
    margin-left: 15%;
    margin-right: 15px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
  }
  .result {
    color: #03720c;
    font-size: 20px;
    border-bottom: 1px solid #03720c;
  }
  
  .buttons {
    text-align: right;
    margin-top: 20px;
  }
  
  .btn {
    margin-left: 10px;
  }
  
  h4 {
    border-bottom: 1px solid #333;
  }
  