<app-header></app-header>
<div class="container-fluid col-md-10">
  <div class="row col-12">
    <div class="col-10" id="mainn">
      <div class="container-fluid col-md-10 first-wrapper">
        <div style="text-align: center">
          <p class="titleTT">Informacije o profesoru</p>
        </div>
      </div>
      <div class="col-10 info">
        <p>
          Ime: <span class="result">{{ teacher.userDTO.firstName }}</span>
        </p>
        <p>
          Prezime: <span class="result">{{ teacher.userDTO.lastName }}</span>
        </p>
        <p>
          Adresa stanovanja:
          <span class="result"
            >{{ teacher.userDTO.addressDTO.streetName }}
            {{ teacher.userDTO.addressDTO.streetNumber }}</span
          >
        </p>
        <p>
          Mesto stanovanja:
          <span class="result">{{
            teacher.userDTO.addressDTO.placeDTO.name
          }}</span>
        </p>
        <p>
          E-mail adresa: <span class="result">{{ teacher.userDTO.email }}</span>
        </p>
        <div class="buttons">
          <button class="btn btn-primary" (click)="edit()">
            Izmeni
          </button>
          <button class="btn btn-danger" (click)="delete()">
            Obrisi
          </button>
        </div>
      </div>
      <app-teachers-add-edit
        *ngIf="addForm == true"
        [teacher]="teacher"
        [addTeacher]="addTeacher"
        (close)="closeAddForm($event)"
      ></app-teachers-add-edit>
    </div>
    <div class="navbarr col-2">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
