<div class="formDiv col-5">
  <p class="addTitle">Dodaj studjski program</p>
  <form
    class="addStudyType"
    (submit)="submit()"
    name="studyTypeForm"
    #f="ngForm"
  >
    <div class="form-group">
      <label for="inputName">Naziv:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="studyType.name"
        name="name"
        id="inputName"
        placeholder="Unesite naziv..."
        required
      />
    </div>
    <p id="porukaText" *ngIf="poruka == true">
      Pogresno uneti podaci! Ispravite greske!
    </p>
    <button type="submit" class="btn btn-success" [disabled]="!f.valid">
      Potvrdi
    </button>
    <button type="button" class="btn btn-secondary" (click)="closeAddForm()">
      Odustani
    </button>
  </form>
</div>
