.navbarr {
  background-color: #41f4a6;
  margin-bottom: 20px;
}

#mainn {
  background-color: #e8f5e9;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.titleTT {
  color: #333;
  font-size: 30px;
  padding-top: 15px;
  text-align: center;
  display: inline-flex;
}
.first-wrapper {
  background-color: #e8f5e9;
  justify-content: center;
}

th {
  text-align: center;
}

#options {
  width: 260px;
  margin-bottom: 10px;
  padding: 3px;
}

#examPeriod {
  padding: 3px;
  margin: 3px;
}

.selectBoxes {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 10px;
}

.balance {
  float: right;
  margin-right: 20px;
}
