<app-header></app-header>
<div class="container-fluid col-md-10">
  <div class="row col-12">
    <div class="col-10" id="mainn">
      <div class="container-fluid col-md-10 first-wrapper">
        <div style="text-align: center">
          <p class="titleTT">Odjava ispita</p>
          <div class="selectBoxes" style="text-align: center">
            <ng-select
              id="examPeriod"
              (change)="onChange($event)"
              [(ngModel)]="examPeriodID"
            >
              <ng-option
                id="options"
                *ngFor="let ep of examPeriods"
                [value]="ep.id"
                >{{ ep.name }}</ng-option
              >
            </ng-select>
          </div>
        </div>
      </div>
      <table class="table sortable">
        <thead class="thead-dark" style="cursor: pointer;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Oznaka</th>
            <th scope="col">Naziv predmeta</th>
            <th scope="col">Datum</th>
            <th scope="col">Vreme</th>
            <th scope="col">Ucionica</th>
            <th scope="col">Iznos</th>
            <th scope="col">Profesor</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let e of exams; let i = index"
            app-table-row-registered-exams
            [exam]="e"
            [i]="i"
          ></tr>
        </tbody>
      </table>
    </div>
    <div class="navbarr col-2">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
