<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ admin.firstName }}</td>
<td class="table-light">{{ admin.lastName }}</td>
<td class="table-light">{{ admin.username }}</td>
<td class="table-light">{{ admin.email }}</td>
<td class="table-light">
  {{ admin.addressDTO.streetName }} {{ admin.addressDTO.streetNumber }}
</td>
<td class="table-light">{{ admin.addressDTO.placeDTO.name }}</td>
<td class="table-light">
  <button class="btn btn-primary" value="{{ admin.id }}" (click)="edit($event)">
    Izmena
  </button>
</td>
<td class="table-light">
  <button
    class="btn btn-danger"
    value="{{ admin.id }}"
    (click)="delete($event)"
  >
    Obrisi
  </button>
</td>
