<app-header></app-header>
<div class="container-fluid col-md-10">
  <div class="row col-12">
    <div class="col-10" id="mainn">
      <div class="container-fluid col-md-10 first-wrapper">
        <div style="text-align: center">
          <p class="titleTT">Prijava ispita</p>
          <div class="selectBoxes" style="text-align: center">
            <ng-select
              id="examPeriod"
              (change)="onChange($event)"
              [(ngModel)]="examPeriodID"
            >
              <ng-option
                id="options"
                *ngFor="let ep of examPeriods"
                [value]="ep.id"
                >{{ ep.name }}</ng-option
              >
            </ng-select>
          </div>
        </div>
      </div>
      <div class="tableMain">
        <table class="table sortable">
          <thead class="thead-dark" style="cursor: pointer;">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Oznaka</th>
              <th scope="col">Naziv predmeta</th>
              <th scope="col">Datum</th>
              <th scope="col">Vreme</th>
              <th scope="col">Ucionica</th>
              <th scope="col">Iznos</th>
              <th scope="col">Profesor</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let e of examRealizations; let i = index"
              app-table-row-student-exam-registration
              [examRealization]="e"
              [i]="i"
              (checkedExamRealization)="countTotalCost($event)"
              (isChecked)="check($event)"
            ></tr>
          </tbody>
        </table>

        <div class="balance">
          <p>Ukupno: {{ totalCost | number: ".2-2" }} RSD</p>
          <p>Trenutno stanje: {{ currentBalance | number: ".2-2" }} RSD</p>
          <div>
            <button
              type="button"
              class="btn btn-secondary"
              id="examRegistration"
              (click)="add()"
              [disabled]="isDisabled"
            >
              Prijavi
            </button>
          </div>
          <div class="popup" *ngIf="isEnoughMoney">
            <div class="alert alert-danger" role="alert">
              <span class="close" title="Close Modal" (click)="closeAlert()"
                >&times;</span
              >
              Nemate dovoljno sredstava na racunu!
            </div>
          </div>
          <div class="popup" *ngIf="isCheckedExam">
            <div class="alert alert-danger" role="alert">
              <span class="close" title="Close Modal" (click)="closeAlert()"
                >&times;</span
              >
              Niste izabrali nijedan ispit!
            </div>
          </div>
          <!--<div
            class="alert alert-danger alert-dismissable"
            role="alert"
            *ngIf="isCheckedExam"
          >
            <button type="button" class="close" data-dismiss="alert">
              &times;
            </button>
            Niste izabrali nijedan ispit!
          </div>-->
        </div>
      </div>
    </div>
    <div class="navbarr col-2">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
