.nav-link {
  color: #333;
  font-size: 14px;
}

.nav-link:hover {
  color: white;
}

h5 {
  border-bottom: 1px solid gray;
}

.passwordDiv {
  position: absolute;
  top: 120px;
  left: 520px;
  background: white;
  padding: 15px;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.titlePassword {
  text-align: center;
  color: #333;
  font-size: 25px;
  border-bottom: 3px solid #333;
}

.passwordDiv > form > button {
  margin-right: 5px;
}
