<nav class="nav flex-column">
  <div class="student" *ngIf="isStudent == true">
    <h5>Osnovni podaci</h5>
    <a class="nav-link" href="#" routerLink="/home">Podaci o studentu</a>
    <a class="nav-link" href="#" [routerLink]="['/documents', student.id]"
      >Dokumenta</a
    >
    <h5>Ispiti</h5>
    <a class="nav-link" href="#" [routerLink]="['/passed-exams', student.id]"
      >Položeni predmeti</a
    >
    <a
      class="nav-link"
      href="#"
      [routerLink]="['/unfinished-courses', student.id]"
      >Nepoloženi predmeti</a
    >
    <a class="nav-link" href="#" [routerLink]="['/exam-results', student.id]"
      >Rezultati ispita</a
    >
    <h5>Prijava / Odjava</h5>
    <a
      class="nav-link"
      href="#"
      [routerLink]="['/exam-registration', student.id]"
      >Prijava ispita</a
    >
    <a
      class="nav-link"
      href="#"
      [routerLink]="['/cancel-exam-registration', student.id]"
      >Odjava ispita</a
    >
    <a
      class="nav-link"
      href="#"
      [routerLink]="['/registered-exams', student.id]"
      >Prijavljeni ispiti</a
    >
    <a class="nav-link" href="#" [routerLink]="['/payments', student.id]"
      >Finansijska kartica</a
    >
    <h5>Ostalo</h5>
    <a class="nav-link" [routerLink]="" (click)="openPassword()"
      >Promena lozinke</a
    >
    <a class="nav-link" href="#" (click)="logout()">Odjava</a>
  </div>

  <div class="teacher" *ngIf="isTeacher == true">
    <h5>Osnovni podaci</h5>
    <a class="nav-link" href="#" routerLink="/home">Podaci o profesoru</a>
    <h5>Zvanje</h5>
    <a class="nav-link" href="#" [routerLink]="['/titles', 'list', teacher.id]"
      >Period zvanja</a
    >
    <h5>Predmeti</h5>
    <a
      class="nav-link"
      href="#"
      [routerLink]="['/teachings', 'list', teacher.id]"
      >Predmeti</a
    >
    <h5>Ispiti</h5>
    <a
      class="nav-link"
      href="#"
      [routerLink]="['/future-exams', 'enter', teacher.id]"
      >Ispiti / Unošenje rezultata</a
    >
    <a
      class="nav-link"
      href="#"
      [routerLink]="['/future-exams', 'results', teacher.id]"
      >Rezultati održanih ispita</a
    >
    <h5>Ostalo</h5>
    <a class="nav-link" [routerLink]="" (click)="openPassword()"
      >Promena lozinke</a
    >
    <a class="nav-link" href="#" (click)="logout()">Odjava</a>
  </div>

  <div class="admin" *ngIf="isAdmin == true">
    <h5>Osnovni podaci</h5>
    <a class="nav-link" href="#" routerLink="/home">Podaci o adminu</a>
    <h5>Administratori</h5>
    <a class="nav-link" href="#" routerLink="/administrators">Administratori</a>
    <h5>Profesori</h5>
    <a class="nav-link" href="#" [routerLink]="['/teachers']"
      >Profesori
    </a>
    <h5>Studijski programi</h5>
    <a class="nav-link" href="#" [routerLink]="['/study-programs']"
      >Studijski programi</a
    >
    <h6>Vrste studija</h6>
    <a class="nav-link" href="#" [routerLink]="['/study-types']"
      >Vrste studija</a
    >
    <h5>Ispiti</h5>
    <a class="nav-link" href="#" routerLink="/exam-realizations"
      >Lista ispita</a
    >
    <a class="nav-link" href="#" routerLink="/exam-periods">Ispitni rokovi</a>
    <h5>Semestri</h5>
    <a class="nav-link" href="#" routerLink="/semesters">Semestri</a>
    <h5>Ostalo</h5>
    <a class="nav-link" [routerLink]="" (click)="openPassword()"
      >Promena lozinke</a
    >
    <a class="nav-link" href="#" (click)="logout()">Odjava</a>
  </div>
</nav>
<div class="passwordDiv col-4" *ngIf="activePass == true">
  <p class="titlePassword">Izmena lozinke</p>
  <form (submit)="submitPasswordChange()" name="changePassForm" #f="ngForm">
    <div class="form-group">
      <label for="inputOldPassword">Stara Lozinka</label>
      <input
        type="password"
        class="form-control"
        id="inputOldPassword"
        [(ngModel)]="passwordChanger.oldPassword"
        name="oldPassword"
        placeholder="Unesite staru lozinku ..."
      />
    </div>
    <div class="form-group">
      <label for="inputNewPassword">Nova Lozinka</label>
      <input
        type="password"
        class="form-control"
        id="inputNewPassword"
        [(ngModel)]="passwordChanger.newPassword"
        name="newPassword"
        placeholder="Unesite novu lozinku ..."
      />
    </div>
    <button type="submit" class="btn btn-success">
      Potvrdi
    </button>
    <button type="button" class="btn btn-secondary" (click)="closePassword()">
      Izadji
    </button>
  </form>
</div>
