<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ examRealization.courseDTO.code }}</td>
<td class="table-light">{{ examRealization.courseDTO.name }}</td>
<td class="table-light">{{ examRealization.date | date: "dd.MM.yyyy" }}</td>
<td class="table-light">{{ examRealization.date | date: "HH:mm" }}</td>
<td class="table-light">{{ examRealization.classroom }}</td>
<td class="table-light">
  <button
    *ngIf="param === 'enter'"
    class="btn btn-secondary"
    value="{{ examRealization.id }}"
    (click)="enterResults($event)"
  >
    Unesi rezultate
  </button>
  <button
    *ngIf="param === 'results'"
    class="btn btn-primary"
    value="{{ examRealization.id }}"
    (click)="results($event)"
  >
    Rezultati
  </button>
</td>
