<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ payment.date | date: "dd.MM.yyyy" }}</td>
<td class="table-light">
  {{ payment.paymentPurposeDTO.name | replaceString }}
</td>
<td class="table-light" *ngIf="payment.paymentType === 'PAYMENT_IN'">Uplata</td>
<td class="table-light" *ngIf="payment.paymentType === 'PAYMENT_OUT'">
  Isplata
</td>
<td class="table-light" *ngIf="payment.paymentType === 'PAYMENT_IN'">
  {{ payment.amount | number: ".2-2" }}
</td>
<td class="table-light" *ngIf="payment.paymentType === 'PAYMENT_OUT'">
  - {{ payment.amount | number: ".2-2" }}
</td>
