<app-header></app-header>
<div class="container-fluid col-md-10">
  <div class="row col-12">
    <div class="col-10" id="mainn">
      <div class="container-fluid col-md-10 first-wrapper">
        <div style="text-align: center">
          <p class="titleTT">Profesori</p>
        </div>
      </div>
      <table class="table sortable">
        <thead class="thead-dark" style="cursor: pointer;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Sifra</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let t of teachers; let i = index"
            app-table-row-teachers
            [teacher]="t"
            [i]="i"
            (deleteRow)="onDeleteRow($event)"
            (editRow)="openEdit($event)"
          ></tr>
        </tbody>
      </table>
      <div class="col-12 paginationDiv">
        <a
          class="buttonPage"
          id="{{ page }}"
          *ngFor="let page of totalPages"
          name="{{ page }}"
          (click)="nextPage($event)"
          >{{ page + 1 }}</a
        >
      </div>
      <button class="btn btn-primary" (click)="openAddForm()">
        Dodaj
      </button>
      <app-teachers-add-edit
        *ngIf="addForm == true"
        [teacher]="teacher"
        [addTeacher]="addTeacher"
        (close)="closeAddForm($event)"
        (newTeacher)="addNewRow($event)"
        (editTeacher)="onEditRow($event)"
      ></app-teachers-add-edit>
    </div>
    <div class="navbarr col-2">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
