<app-header></app-header>
<div class="container-fluid col-md-10">
  <div class="row col-12">
    <div class="col-10" id="mainn">
      <div class="container-fluid col-md-10 first-wrapper">
        <div style="text-align: center">
          <p class="titleTT">Ispitni rokovi</p>
        </div>
      </div>
      <table class="table sortable">
        <thead class="thead-dark" style="cursor: pointer;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Naziv</th>
            <th scope="col">Datum pocetka</th>
            <th scope="col">Datum zavrsetka</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let e of examPeriods; let i = index"
            app-table-row-exam-periods
            [examPeriod]="e"
            [i]="i"
            (deleteRow)="onDeleteRow($event)"
            (editRow)="openEdit($event)"
          ></tr>
        </tbody>
      </table>
      <div class="col-12 paginationDiv">
        <a
          class="buttonPage"
          id="{{ page }}"
          *ngFor="let page of totalPages"
          name="{{ page }}"
          (click)="nextPage($event)"
          >{{ page + 1 }}</a
        >
      </div>
      <button class="btn btn-primary" (click)="openAddForm()">
        Dodaj
      </button>
      <app-exam-period-add-edit
        *ngIf="addForm == true"
        [examPeriod]="examPeriod"
        [addExamPeriod]="addExamPeriod"
        (close)="closeAddForm($event)"
        (newExamPeriod)="addNewRow($event)"
        (editExamPeriod)="onEditRow($event)"
      ></app-exam-period-add-edit>
    </div>
    <div class="navbarr col-2">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
