<app-header></app-header>
<div class="container-fluid col-md-10">
  <div class="row col-12">
    <div class="col-10" id="mainn">
      <div class="container-fluid col-md-10 first-wrapper">
        <div style="text-align: center">
          <p class="titleTT">Informacije o studentu</p>
        </div>
      </div>
      <div class="col-10 info">
        <p>
          Ime: <span class="result">{{ student.userDTO.firstName }}</span>
        </p>
        <p>
          Prezime: <span class="result">{{ student.userDTO.lastName }}</span>
        </p>
        <p>
          Datum rodjenja:
          <span class="result">{{
            student.birthDate | date: "dd.MM.yyyy"
          }}</span>
        </p>
        <p>
          Adresa stanovanja:
          <span class="result"
            >{{ student.userDTO.addressDTO.streetName }}
            {{ student.userDTO.addressDTO.streetNumber }}</span
          >
        </p>
        <p>
          Mesto stanovanja:
          <span class="result">{{
            student.userDTO.addressDTO.placeDTO.name
          }}</span>
        </p>
        <p>
          E-mail adresa: <span class="result">{{ student.userDTO.email }}</span>
        </p>
        <p>
          Broj telefona:
          <span class="result">{{ student.phoneNumber }}</span>
        </p>
        <p>
          Godina studija:
          <span class="result">{{ student.yearOfStudy }}</span>
        </p>
        <p>
          Studijski program:
          <span class="result">{{ student.studyProgramDTO.name }}</span>
        </p>

        <div class="buttons">
          <button class="btn btn-primary" (click)="edit()">
            Izmeni
          </button>
          <button class="btn btn-danger" (click)="delete()">
            Obrisi
          </button>
        </div>
      </div> 
      <app-accounts [studentID]="studentID"> </app-accounts>
      
      <div class="col-10 info">
        <h4>Ostali podaci o studentu</h4>
          <div class="buttons">
            <button class="btn btn-primary" (click)="getDocuments()">
              Dokumenta
            </button>
            <button class="btn btn-primary" (click)="getPayments()">
              Uplate
            </button>
            <button class="btn btn-primary" (click)="getEnrollments()">
              Predmeti
            </button>
          </div>
      </div>
      <app-students-add-edit
        *ngIf="addForm == true"
        [addStudent]="addStudent"
        [student]="student"
        (close)="closeAddForm($event)"
      ></app-students-add-edit>
    </div>
    <div class="navbarr col-2">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
