<app-header></app-header>
<div class="container-fluid col-md-10">
  <div class="row col-12">
    <div class="col-10" id="mainn">
      <div class="container-fluid col-md-10 first-wrapper">
        <div style="text-align: center">
          <p class="titleTT">Nepolozeni ispiti</p>
        </div>
      </div>
      <table class="table sortable">
        <thead class="thead-dark" style="cursor: pointer;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Oznaka</th>
            <th scope="col">Naziv predmeta</th>
            <th scope="col">Godina predmeta</th>
            <th scope="col">ESPB</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let c of courses; let i = index"
            app-table-row-student-unfinished-courses
            [course]="c"
            [i]="i"
          ></tr>
        </tbody>
      </table>
    </div>
    <div class="navbarr col-2">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
