<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ exam.studentDTO.cardNumber }}</td>
<td class="table-light">{{ exam.studentDTO.userDTO.lastName }}</td>
<td class="table-light">
  {{ exam.studentDTO.userDTO.firstName }}
</td>
<td class="table-light">{{ exam.labPoints }}</td>
<td class="table-light">{{ exam.examPoints }}</td>
<td class="table-light">{{ exam.totalPoints }}</td>
<td class="table-light">{{ exam.finalGrade }}</td>
