.navbarr {
  background-color: #41f4a6;
  margin-bottom: 20px;
}

#mainn {
  background-color: #e8f5e9;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.titleTT {
  color: #333;
  font-size: 30px;
  padding-top: 15px;
  text-align: center;
  display: inline-flex;
}
.first-wrapper {
  background-color: #e8f5e9;
  justify-content: center;
}

th {
  text-align: center;
}

.add {
  float: right;
  margin-right: 20px;
  width: 100px;
  background: #41f4a6;
  border: transparent;
}

.paginationDiv {
  text-align: center;
  padding-top: 10px;
}

.buttonPage {
  margin: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #333;
}

.active {
  background-color: #c5cae9;
  color: white;
}

.buttonPage:hover {
  border-color: blue;
  background-color: white;
}

.studentAccount {
  padding-top: 10px;
  padding-left: 15px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 6px;
  border-bottom: 1px solid black;
}

.semester {
  float: right;
  margin-right: 10%;
}

.alert {
  position: absolute;
  top: 180px;
  left: 520px;
  background: #f29696;
  padding: 15px;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 310px;
  height: 60px;
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.close {
  position: absolute;
  right: 10px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
