<app-header></app-header>
<div class="container-fluid col-md-10">
  <div class="row col-12">
    <div class="col-10" id="mainn">
      <div class="container-fluid col-md-10 first-wrapper">
        <div style="text-align: center">
          <p class="titleTT">Uplate / Isplate</p>
        </div>
      </div>
      <div class="studentAccount">
        <h4>Podaci o racunu</h4>
        <button
          *ngIf="!isCertified"
          class="btn btn-primary semester"
          (click)="onClick()"
        >
          Overi semestar
        </button>
        <p>
          Ziro racun:
          <span id="itemAcc">{{ account.giroAccountNumber }}</span>
        </p>
        <p>
          Broj modela:
          <span id="itemAcc">{{ account.modelNumber }}</span>
        </p>
        <p>
          Personalni broj:
          <span id="itemAcc">{{ account.personalReferenceNumber }}</span>
        </p>
        <p>
          Trenutno stanje racuna:
          <span id="itemAcc"
            >{{ account.currentAccountBalance | number: ".2-2" }} RSD</span
          >
        </p>
      </div>
      <table class="table sortable">
        <thead class="thead-dark" style="cursor: pointer;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Datum</th>
            <th scope="col">Svrha uplate</th>
            <th scope="col">Tip</th>
            <th scope="col">Iznos</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let p of payments; let i = index"
            app-table-row-payments
            [payment]="p"
            [i]="i"
          ></tr>
        </tbody>
      </table>
      <div class="col-12 paginationDiv">
        <a
          class="buttonPage"
          id="{{ page }}"
          *ngFor="let page of totalPages"
          name="{{ page }}"
          (click)="nextPage($event)"
          >{{ page + 1 }}</a
        >
      </div>
      <button
        class="btn btn-primary add"
        (click)="openAddForm()"
        *ngIf="isAdmin != true"
      >
        Dodaj
      </button>
      <app-payment-add-edit
        *ngIf="addForm == true"
        [payment]="payment"
        [student]="student"
        (close)="closeAddForm($event)"
        (newPayment)="addNewRow($event)"
      ></app-payment-add-edit>
    </div>
    <div class="popup" *ngIf="isEnoughMoney">
      <div class="alert alert-danger" role="alert">
        <span class="close" title="Close Modal" (click)="closeAlert()"
          >&times;</span
        >
        Nemate dovoljno sredstava na racunu!
      </div>
    </div>
    <div class="navbarr col-2">
      <app-navbar (emitIsAdmin)="check($event)"></app-navbar>
    </div>
  </div>
</div>
