<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ examRealization.courseDTO.code }}</td>
<td class="table-light">{{ examRealization.courseDTO.name }}</td>
<td class="table-light">{{ examRealization.date | date: "dd.MM.yyyy" }}</td>
<td class="table-light">{{ examRealization.date | date: "HH:mm" }}</td>
<td class="table-light">{{ examRealization.classroom }}</td>
<td class="table-light">{{ examRealization.examPrice | number: ".2-2" }}</td>
<td class="table-light">
  {{ examRealization.teacherDTO.userDTO.firstName }}
  {{ examRealization.teacherDTO.userDTO.lastName }}
</td>
<td class="table-light">
  <input
    type="checkbox"
    value="{{ examRealization.id }}"
    (change)="checkedOnChange($event)"
    [disabled]="checkDate(examRealization.date)"
  />
</td>
