<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ course.code }}</td>
<td class="table-light">{{ course.name }}</td>
<td class="table-light">{{ course.yearOfStudy }}</td>
<td class="table-light">{{ course.ectspoints }}</td>
