<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ examPeriod.name }}</td>
<td class="table-light">
  {{ examPeriod.startDate | date: "dd.MM.yyyy" }}
</td>
<td class="table-light">
  {{ examPeriod.endDate | date: "dd.MM.yyyy" }}
</td>

<td class="table-light">
  <button
    class="btn btn-primary"
    value="{{ examPeriod.id }}"
    (click)="edit($event)"
  >
    Izmeni
  </button>
</td>
<td class="table-light">
  <button
    class="btn btn-danger"
    value="{{ examPeriod.id }}"
    (click)="delete($event)"
  >
    Obrisi
  </button>
</td>
