<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ student.cardNumber }}</td>
<td class="table-light">{{ student.userDTO.firstName }}</td>
<td class="table-light">{{ student.userDTO.lastName }}</td>
<td class="table-light">
  <button
    class="btn btn-secondary"
    value="{{ student.id }}"
    (click)="getDetails($event)"
  >
    Detaljnije
  </button>
</td>
<td class="table-light" *ngIf="!isAdded">
  <button
    class="btn btn-secondary"
    value="{{ student.id }}"
    (click)="addSemester($event)"
  >
    Dodaj semestar
  </button>
</td>
