<app-header></app-header>
<div class="container-fluid col-md-10">
  <div class="row col-12">
    <div class="col-10" id="mainn">
      <div class="container-fluid col-md-10 first-wrapper">
        <div style="text-align: center">
          <p class="titleTT">Predmeti</p>
        </div>
      </div>
      <table class="table sortable">
        <thead class="thead-dark" style="cursor: pointer;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Sifra</th>
            <th scope="col">Naziv</th>
            <th scope="col">ESPB bodovi</th>
            <th scope="col">Broj casova</th>
            <th *ngIf="param === 'edit'"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let t of teachings; let i = index"
            app-table-row-teachings
            [teaching]="t"
            [i]="i"
            [param]="param"
            (deleteRow)="onDeleteRow($event)"
            (editRow)="openEdit($event)"
          ></tr>
        </tbody>
      </table>
      <div class="col-12 paginationDiv">
        <a
          class="buttonPage"
          id="{{ page }}"
          *ngFor="let page of totalPages"
          name="{{ page }}"
          (click)="nextPage($event)"
          >{{ page + 1 }}</a
        >
      </div>
      <button
        class="btn btn-primary"
        (click)="openAddForm()"
        *ngIf="param === 'edit'"
      >
        Dodaj
      </button>
      <app-teaching-add-edit
        *ngIf="addForm == true"
        [teaching]="teaching"
        [teacher]="teacher"
        (close)="closeAddForm($event)"
        (newTeaching)="addNewRow($event)"
      ></app-teaching-add-edit>
    </div>
    <div class="navbarr col-2">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
