<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ document.type }}</td>
<td class="table-light">{{ document.date | date: "dd.MM.yyyy" }}</td>
<td class="table-light">
  <button
    class="btn btn-primary"
    value="{{ document.filePath }}"
    (click)="download($event)"
  >
    Preuzmi
  </button>
</td>
<td class="table-light" *ngIf="isAdmin == true">
  <button
    class="btn btn-danger"
    value="{{ document.id }}"
    (click)="delete($event)"
  >
    Obrisi
  </button>
</td>
