<div class="formDiv col-5">
  <form class="addSemester" (submit)="submit()" name="semesterForm" #f="ngForm">
    <div class="form-group">
      <label for="inputSemesterType">Semestar:</label>
      <ng-select [(ngModel)]="semesterType" name="semesterType">
        <ng-option *ngFor="let type of semesterTypes" [value]="type">
          {{ type }}
        </ng-option>
      </ng-select>
    </div>
    <div class="form-group">
      <label for="inputStartDate">Datum pocetka:</label>
      <input
        name="startDate"
        id="inputStartDate"
        class="form-control"
        type="date"
        [ngModel]="semester.startDate | date: 'yyyy-MM-dd'"
        (ngModelChange)="semester.startDate = $event"
      />
    </div>
    <div class="form-group">
      <label for="inputEndDate">Datum zavrsetka:</label>
      <input
        name="endDate"
        id="inputEndDate"
        class="form-control"
        type="date"
        [ngModel]="semester.endDate | date: 'yyyy-MM-dd'"
        (ngModelChange)="semester.endDate = $event"
      />
    </div>
    <p id="porukaText" *ngIf="poruka == true">
      Pogresno uneti podaci! Ispravite greske!
    </p>
    <button type="submit" class="btn btn-success" [disabled]="!f.valid">
      Potvrdi
    </button>
    <button type="button" class="btn btn-secondary" (click)="closeAddForm()">
      Odustani
    </button>
  </form>
</div>
