<td class="table-light">{{ i + 1 }}</td>
<td class="table-light">{{ exam.examRealizationDTO.courseDTO.code }}</td>
<td class="table-light">{{ exam.examRealizationDTO.courseDTO.name }}</td>
<td class="table-light">
  {{ exam.examRealizationDTO.teacherDTO.userDTO.firstName }}
  {{ exam.examRealizationDTO.teacherDTO.userDTO.lastName }}
</td>
<td class="table-light">
  {{ exam.examRealizationDTO.date | date: "dd.MM.yyyy" }}
</td>
<td class="table-light">{{ exam.labPoints }}</td>
<td class="table-light">{{ exam.examPoints }}</td>
<td class="table-light">{{ exam.totalPoints }}</td>
<td class="table-light">{{ exam.finalGrade }}</td>
